apiVersion: v1
kind: Secret
metadata:
  name: custom-{{ resource_name }}
  labels:
     grafana_datasource: "1"
  namespace: {{ namespace }}
type: Opaque
stringData:
  datasource-{{ resource_name }}.yaml: |-
{% filter indent(width=4) -%}
    {{ content }}
{% endfilter %}
